%style
  :sass
    .word
      font-size: 1.2em
      margin: 0 0 0.2em 0

= form_tag("/import", method: 'post') do
  - @words.each_slice(@words.size / 3) do |words|
    .span3
      - words.each do |w|
        .word
          = check_box_tag w
          = w
  = submit_tag "import"