// Place all the styles related to the clips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chart {
    width: 900px;
    height: 600px;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
}
