// Place all the styles related to the clips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.item {
    margin: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid #888888;
    clear: both;

    .entry {
	font-size: 18px;
	width: 170px;
	color: red;
	float: left;
    }
    .definition {
	font-weight: bold;
	margin-left: 30px;
	float: left;
    }
}

.word-definition {
    background-color: #cceeff;
    font-size: 1.3em;
    font-weight: bold;
    padding: 5px 0;
}

.underscore {
    background-color: #ffcccc;
    font-size: 1.5em;
    padding: 5px 0;
}

#word {
    padding: 0 0 0 10px;

    #level {
	font-size: 20px;
	padding: 5px;
	float: left;
	background-color: grey;
	color: white;
    }

    #shown {
	padding: 5px;
	float: left;
    }

    ul {
	list-style-type: none;
	color: #888888;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 0 5px 0;
	overflow: hidden;
	clear: both;
	li {
	    margin-left: -2px;
	    border-left: 1px solid black;
	    padding: 0px 10px 0px 10px;
	    float: left;
	}
    }

    #entry {
	font-size: 32px;
	text-shadow: 1px 1px 1px #333333;
	background-color: #dddddd;
	padding: 10px 0px 20px 5px;
	margin-bottom: 10px;
	clear: both;
	border-radius: 5px;
    }

    #body {
	display: none;

	#thesaurus {
	    background-color: #eeeeee;
	    padding: 10px 0px 20px 5px;
	    margin-top: 10px;
	    margin-bottom: 10px;
	    clear: both;
	    border-radius: 5px;
	    .link {
		float: right;
		font-weight: bold;
	    }
	}

	#definition {
	    padding-top: 1em;
	}

	#status-digit {
	    display: none;
	}

	#status {
	    clear: both;
	}
    }
}

.import-list {
    text-align: center;
    .level-box {
	width: 110px;
	height: 100px;
	margin: 15px;
	padding: 15px;
	border: 1px solid black;
	border-radius: 5px;
	float: left;
	.stat {
	    font-weight: bold;
	    margin-top: 7px;
	}
	.word-list {
	    margin-top: 7px;
	    text-align: left;
	}
    }
}
