!!!
%html
  %head
    %title Reijiro
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        .container
          %a.brand{:href => "/"} Eeijiro
          %ul.nav
            %li.active
              %a{:href => "/clips"} Clips
            %li
              %a{:href => "/nextup"} Next Up
            %li
              %a{:href => "/next"} Next
            %li
              %a{:href => "/words"} All Words

    .container
      = yield
